body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    line-height: 1.6;
}


.main2 {
    height: 850px;
}

.ul-dots {
    list-style-type: disc;
}

.head-title {
    margin-left: 438px;
    margin-bottom: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    height: 800px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: visible;
}

@media(max-width: 630px) {
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 21px;
    }

    .head-title {
        margin: 0;
        text-align: left;
    }
}